 <html>
  <body>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
      <div class="image">
        <div class="container">
          <h1 class="display-3">Eventbrite</h1>
          <p>Découvre les sorties à faire entre amis, en famille, ou en couple.</p>
          <p><a <%= link_to "Créer un évènement", new_event_path, :class =>"btn btn-outline-dark" %></a></p>
          </div>
          </div>
        </div>

        <h2 style="text-align :center">Meilleurs évènements</h2>
        <br>
        <hr class="solid">
        <br>
        <br>
        <div class="container">
          <!-- Example row of columns -->
          <div class="sizelimit">
          <div class="row">
            <% @event.each do |e|%>
              <% if e.avatar.attached? %>
              <div class="col-md-4">
                <h3><%=e.title%></h3>
                <p><%=e.description%> </p>
                <%= link_to "Lien vers l'évènement", event_path(e.id), :class => "btn btn-outline-primary"%>
                <br>
                <br>
                <br>
              </div>
              <% end %>
            <% end %>
          </div>
          <hr>
          </div>
        </div>
        <!-- /container -->
      </main>
      <footer class="container" style="text-align :center">
        <p>© Florian EMPINET 2020</p>
      </footer>
      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
      </script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
    </body>
  </html>
