<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @organizer.first_name %></h1>
    <p>
      Un nouveau participant seras la pour ta saloperie d'event <%= @event.title %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>, et va bien te faire foutre.
    </p>
    <p> À très vite sur mon application bidon  !
    </body>
  </html>
