<body>
  <br>
  <div class=text-center>
    <h1> Dashboard - Admin </h1>
    <h6> Bienvenue <%= @admin.first_name %> </h6>
    <small> Toute personne non autorisé accédant au Dashboard Admin se verra poursuivi par des CRS. Bisous </small>
    <br>
    <br>
    <br>
    <%= link_to "Page Admin", admin_event_index_path, :class =>"btn btn-primary"%>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
